 /*
    Name: Raven Moore
    File: homework2.css
    Date Created: 2025-01-05
    Date Updated:2025-03-09
    Purpose: Homework2 MIS 3376
*/
/* styles.css */
#reviewFrame {
    width: 100%;
    height: 200px;
    border: 1px solid black;
    display: none;
}


body {
  font-size: medium;
    color: rgb(0, 0, 0);
    font-family: "Source Sans Pro", sans-serif;}

table.header, th.header{
  font-family: cursive;
  background-color:#054416;
  color: rgb(5, 3, 6);
 position:sticky;
  top:0;
}

table.Patientinfo{
   width: 45%;
    height: 150px;
  color:black;
}
th.heading{
  font-size: 25px;
  font-style: italic;
  width: fit-content;
  font-family: 'Lucida Sans';
  background-color: #054416;
  color: rgb(221, 232, 224);
}

td.logoname{
  font-weight:900;
  font-size:50px;
  font-family: 'Abramo Serif';
}
Input[type="text"], [type="date"], [type="email"], [type="password"], [type="textbox"]{
  height: 30px;
  box-align: center;
  background-color:lightgray;
  font-family:Courier New;
  font-size: 15px;
  border-radius: 10px;
}

select {
  height: 15px
  width: 100%;
  border: 20px;
  border-radius: 10px;
}

.pword-message {
    text-align: right;
    font-family: Pick a font;
    font-weight: Pick a weightfont;
    position: relative;
    left: 100px;
    background: transparent;
    padding: 10px;
    border-spacing: 2px;
    border-radius: 20px;
    color: red;
}
#alert-box {
    
}
#alert-subject {
    background-color: white;
    border-radius: 10px;
    width: _px;
    height: _px;
    margin: auto;
    margin-top: _px;
    padding: _px;
    text-align: center;
}
#alert-subject h4 {
   
}
#close-alert {
    background-color: pick a color;
    border-width: 1px;
    border-style: solid;
    color: white;
    border-color: black;
    font-size: _px;
    font-weight: bold;
    height: _px;
    width: _px;
    border-radius: _px;
    cursor: pointer;
    margin-top: _px;
    text-align: center;
    font-family: pick a font;
}
.iframe-container{
  position:sticky;
  z-index:-1;
 right:0;
}
.footer{
 position:fixed;
 bottom:0;
 
}
 
